    
    <div class="navbar1 vertical-bar">
        <a asp-controller="Flat" asp-action="Index">Flats</a>
        <a asp-controller="Owner" asp-action="Index">Owners</a>
        <a asp-controller="Occupant" asp-action="Index">Occupants</a>
        <a asp-controller="Maintenance" asp-action="Index">Maintenance</a>
        <a asp-controller="Payment" asp-action="Index">Payments</a>
        <a asp-controller="Expense" asp-action="Index">Expenses</a>
        
        
    </div>
<div>
    <h1> Welcome Chairman!</h1>
</div>
   