
    <partial name="_Notification"></partial>

    <div class="navbar1 vertical-bar">
        <a asp-controller="Flat" asp-action="Details">Flats</a>
        <a asp-controller="Owner" asp-action="Details">Owners</a>
        <a asp-controller="Occupant" asp-action="Details">Occupants</a>
        <a asp-controller="Maintenance" asp-action="Details">Maintenance</a>
        <a asp-controller="Payment" asp-action="Details">Payments</a>
        <a asp-controller="Expense" asp-action="Details">Expenses</a>
        <a asp-controller="User" asp-action="ChangePassword">Change Password</a>
        
        
    </div>
<div>
    <h1> Welcome Resident!</h1>
</div>
   