html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
 
  margin: 0;
}

.navbar1 {
  
  left:0;
  background-color: rgba(100, 100,100, 0.2);
  display: flex;
  flex-direction: column; /* Set the direction to column for a vertical layout */
}

.navbar1 a {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar1 a:hover {
  background-color: #ddd;
  color: black;
}

.navbar1 a.active {
  background-color: #4CAF50;
  color: white;
}
