@model Occupant



<form method="post" asp-action="DeletePost">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Delete Occupant</h2>
            <hr/>
            </div>
            <div asp-validation-summary="All"></div>
            <div class="mb-3">
                <label asp-for="OccupantId"></label>
                <input asp-for="OccupantId" class="form-control"/>
                <span asp-validation-for="OccupantId" class="text-danger"></span>
                <label asp-for="OccupantFirstName"></label>
                <input asp-for="OccupantFirstName" class="form-control"/>
                <span asp-validation-for="OccupantFirstName" class="text-danger"></span>
                <label asp-for="OccupantLastName"></label>
                <input asp-for="OccupantLastName" class="form-control"/>
                <span asp-validation-for="OccupantLastName" class="text-danger"></span>
                
            </div>
    
    <button type="submit" class="btn btn-primary" style="width:150px">Delete</button>
    <a asp-controller="Occupant" asp-action="Index" class="btn btn-secondary" style="width:150px">
        Back to list
    </a>
    </div>
</form>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"></partial>
    }
}


